.HeaderBody {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.Header-Wrapper {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: yellow; */
}

.Logo {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 10px; */
  /* background: #000; */
}

.Logo img {
  width: 100%;
  height: 80%;
  margin-top: 2rem;
  object-fit: contain; /* prevents stretching */
  cursor: pointer; /* adds visual feedback */
}

.Navs {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & ul {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0px;
    margin: 0px;

    & li {
      list-style-type: none;
      font-family: Satoshi, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: rgb(102, 112, 133);
      cursor: pointer;
    }
  }
}

.Auth {
  width: 35%;
  display: flex;
  gap: 10px;

  & button {
    padding: 10px;
    width: 150px;
    background-color: transparent;
    border-radius: 10px;
    cursor: pointer;
    color: #022308f5;
    border: 2px solid #022308f5;
    transition: all 0.3s ease-in-out;
    transform: scale(1);
  }

  .Active {
    background: #022308f5;
    color: white;
  }

  & button:hover {
    background: #022308f5;
    color: white;
    transform: scale(1.1);
  }
}

.Icon {
  display: none;
}
