.Product{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.Product section{
    width: 100%;
    color: white;
    background-color: #022308f5;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Product section .productHead{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    h3{
        color: white;

    }
}

.Product section .imgBox{
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 70%;
        height: 100%;
        object-fit: contain;
    }
    
}

.Product section .productDetails{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;

    li{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-transform: capitalize;
        
        h4{
            color: grey;
            font-weight: 400;
            font-size: 18px;
        }

        h3{
            font-size: 20px;
            color: white;
        }
    }
}

.Product section button{
    width: 100%;
    height: 60px;
    padding: 20px;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productWrap{
    padding: 20px;
    width: 90%;
    overflow-y: scroll;
    scrollbar-width: none; 
    -ms-overflow-style: none;
    padding-top: 50px;
    margin-bottom: 20px;

}

@media (min-width:320px)  and (max-width: 768px){

    .productWrap{
        width: 100%;
    }

    .Product section .imgBox{
        height: 250px;
    }

    .Product section .productDetails{
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}