.Terms,
.Privacy {
  width: 100%;
  padding: 50px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  h4,
  span {
    font-size: 14px;
    text-decoration: none;
  }
}

.Terms ol,
.Privacy ol {
  display: flex;
  flex-direction: column;
  gap: 30px;

  li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .Terms,
  .Privacy {
    padding: 20px;
  }
}
