@import "tailwindcss";

* {
  padding: 0px;
  margin: 0px;
  font-family: Lato, sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* Responsive font sizes */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  body {
    font-size: 13px;
  }
}
