.MainBody {
    width: 100%;
    height: 100vh;
    background: #f1f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Wrapper {
    width: 50%;
    height: max-content;
    padding: 10px;
    /* background: white; */
}

.navBack {
    width: 50px;
    height: 50px;
    background: #b6b4b465;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.navBack:hover{
    background: #012306;
    color: white;
}

.AuthHader {
    margin-top: 20px;
    margin-left: 20px;
    color: #ffffff;

    & h3 {
        font-size: 32px;
        font-weight: 600;
        line-height: 44.2667px;
        color: #022e09;
        font-family: "Exo", sans-serif;
        font-optical-sizing: auto;
    }

    & p {
        font-size: 14px;
        color: gray;
        margin-top: 15px;
    }
}

.MyForm{
    width: 100%;
    height: 60%;
    /* background: red; */
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.MyFormWrapper {
    width: 95%;
    height: 100%;
    /* background: green; */
}

.divInputWrapper {
    width: 100%;
    height: 9vh;
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.divInput {
    width: 48%;
    height: 60%;
    background: #e7f0fe00;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    padding-left: 8px;
    border: 1px solid #035611;
}

.IconFont {
    font-size:  20px;
    color: rgba(128, 128, 128, 0.596);
    cursor: pointer;
}

.Input {
    width: 90%;
    height: 99%;
    border: 1px;
    background-color: transparent;
    outline: none;
}

.forgot, .Not {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: gray;
    cursor: pointer;
    margin-top: 10px;

        & p{
            transition: all 0.5s ease;
            font-size: 15px;
        }

        & span {
            color: #012306;
            cursor: pointer;
        }

}

.forgot > p:hover, span:hover {
    text-decoration: underline;
}

.Btn {
    width: 100%;
    height: 50px;
    margin-top: 17px;
    cursor: pointer;
    background: #022e09;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    transition: all 0.5s ease;
}

.Btn:hover {
    background: #035611;
    color: white;
}